<div class="demo-req-form">
  <h1>Website Enquery Form</h1>
<form class="common-form user-signup-form" >

  <input 
  type="text"
  class="form-input"
  placeholder="Full Name"
  name="userName"
  ngModel
  >
  <input 
  type="email"
  class="form-input"
  placeholder="Email"
  name="userEmail"
  ngModel
  >
  
  <input 
  type="number"
  class="form-input phonenumber"
  placeholder="Mobile Number"
  name="number"
  ngModel
  >
 <label for="">Industry</label>
 <select>
  <option value="">one</option>
  <option value="">one</option>
  <option value="">one</option>
  <option value="">one</option>


 </select>
  
  

  <button class="form-button">Submit</button>

  
  
  

</form>
</div>


<!-- <div class="request-demo">
    <h1>Request Demo</h1>
    <form>
      
      <input type="text" id="name" name="name" placeholder="Enter Company Name" required>
     
      <input type="email" id="email" name="email" placeholder="Enter Your Email" required>
 
      <input type="tel" id="phone" name="phone" placeholder="Enter Your Number" required>
    
      <textarea id="message" name="message" placeholder="Enter Any Query"></textarea>
      <button class="form-button">Submit</button>
    </form>
</div> -->