<!-- <div class="main-container">
  <div class="macbook-pro-14-1">
    <div class="make-your">MAKE YOUR</div>
    <div class="business-online">BUSINESS ONLINE</div>
    <div class="revolutionize-your-gyms-container">
      <p class="revolutionize-your-gyms">
        Revolutionize Your Gym's Management to Maximize Its Potential with Our
        System.
      </p>
      <p class="revolutionize-your-gyms">
        Optimize Your Gym's Performance and Make Every Minute Count with Our
        Technology.
      </p>
    </div>
    <img class="macbook-pro-14-1-child" alt="" src="../../../../assets/images/Screenshot 2023-04-26 at 08.02.22 (1).png" />

    <img class="croped-1-icon" alt="" src="../../../../assets/images/croped.png" />

    <button class="line-icon"> <a class="get-started" href="">Get Started</a></button>
    

    <div class="get-started">Get Started</div>
    <img class="arrow-icon" alt="" src="./public/arrow-1.svg" />
  </div>
</div> -->
<!-- <header class="py-5">
  <div class="container px-5 pb-5">
      <div class="row gx-5 align-items-center">
          <div class="col-xxl-5">
            
              <div class="text-center text-xxl-start">
                  <div class="badge bg-gradient-primary-to-secondary text-white mb-4"><div class="text-uppercase">Design &middot; Development &middot; Marketing</div></div>
                  <div class="fs-3 fw-light text-muted">I can help your business to</div>
                  <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">Get online and grow fast</span></h1>
                  <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                      <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="resume.html">Resume</a>
                      <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="projects.html">Projects</a>
                  </div>
              </div>
          </div>
          <div class="col-xxl-7">
            
              <div class="d-flex justify-content-center mt-2 mt-xxl-7">
                  <div class="profile bg-gradient-primary-to-secondary">
                     
                      <img class="profile-img" src="../../../../assets/images/croped.png" alt="..." />
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
</header> -->


<section class="home" id="home">
  <div class="home-content">
    <h3>Hello, It's</h3>
    <h1> <span>Gym Master</span> </h1>

    <p>Revolutionize Your Gym's Management to Maximize Its Potential with Our
      System. Optimize Your Gym's Performance and Make Every Minute Count with Our
      Technology </p>

      <a href="" class="btn">Get Started</a>

  </div>

  <div class="home-img">
    <img src="../../../../assets/images/gymthemephoto.png" alt="">
  </div>
</section>


   
 