<section class="about" id="about">
    <div class="about-img">
        <img src="../../../../assets/images/croped.png" alt="">
    </div>

    <div class="about-content">
        <h2 class="heading">About <span>Us</span></h2>
        <h3>Gym Master</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, maiores, ut voluptatem sit rem dolore
            nostrum dicta accusantium necessitatibus aperiam, soluta doloremque distinctio. Veritatis sint laudantium
            sit quibusdam sed provident voluptatum dolores nobis, atque quod ipsa praesentium eos corporis deleniti
            minus iste? Repudiandae magni non dolore!</p>
            <a href="" class="btn"> Read More</a>
    </div>
</section>