<h1>Dashboard</h1>

<div class="card">
    <div class="card-head">Lorem ipsum - dashboard</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea reiciendis odit explicabo quia dicta officiis
        deserunt rem possimus. Provident, voluptatibus vero illum laboriosam perferendis cum totam nihil fugiat eos,
        officia maiores ipsam quis? Quidem unde est, doloremque id a possimus deleniti perferendis suscipit velit nihil
        dicta officiis consectetur? Sit, deserunt?
    </div>
</div>